body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
fieldset
{
	border-color:#5D3F6A;
}
legend
{
	font-weight: bold;
}
input:invalid
{
	border: 1.5px solid #5D3F6A;
}
div.content
{
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	width: 900px;
	min-height:900px;
	overflow: auto;
	position:absolute;
	top:0;
	bottom:0;
	padding:50px;
	background-color:white;
}

.icons:hover
{

	background-color: #BDC3C7;
}


.button {
	border-radius: 5px; 
	border: none;
	font-size: medium;
	margin-top: 10px;
}
.generalButton{
	border-radius: 5px; 
	border: none;
	font-size: medium;
	min-width:90px;
	margin-top: 10px;
	background-color:  #5D3F6A;
	color: #ffffff;
}
.generalButton:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-submit {
	background-color: #2ABB9B;
	color: #ffffff;
	border: none;
	font-size: medium;
	margin-top: 10px;
}

.table {
	display: table;
	border-collapse:collapse;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	border:1px dashed #000000;		
	text-align: center;
	padding: 7px;
}
.table-licencelist {
	margin: auto;
	border: 1px solid #000000;	
	width: 800px;
}
.table-header{
	background-color: #5D3F6A;
	color: #ffffff;
}